.add-surfboard-wrapper {
    
    padding-top: 50px;
    height: 100vh;
    font-size: 35px;
    color: rgb(253, 98, 21);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(7, 24, 31);

    .add-surfboard-form {
        padding-left: 100px;
   
        .submit-button {
            padding-top: 10px;
            padding-left: 50px;
        }

    }

}

