.items-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(69, 153, 225);
    justify-content: space-between;
    padding: 75px;
    font-family: 'Original Surfer', cursive;
    

    .h2 {
        padding: 25px;
    }

    .items-wrapper {
        padding-left: 50px;
        
    }   
    

}